.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.bg-index {
  background: linear-gradient(117.23deg, #3A0166 -0.6%, #58287E 100%);;
}

.header {
  padding: 21px 0;
  .q-toolbar {
    padding: 0 15px 0 0;
  }
  &-logo {
    width: 163px;
  }
  &-navigation {
    .router-link--active, .router-link-exact-active {
      color: #FF3393;
    }
    span, a {
      text-decoration: none;
      color: inherit;
      margin-left: 30px;
      cursor: pointer;
      &:hover {
        color: #FF3393;
      }
    }
  }
  &-profile {
    border-radius: 11px 11px 0 0;
    position: relative;
    &:hover {
      color: #FF3393;
    }
    &__item {
      padding: 11px 6px 11px 13px;
      .q-img {
        margin-left: 11px;
        width: 30px;
      }
      @media (max-width: 1100px) {
        padding-right: 17px;
        .q-img {
          width: 24px;
        }
      }
    }
    .items-menu {
      overflow: hidden;
      width: 100%;
      position: absolute;
      top: 53px;
      @media (max-width: 1100px) {
        right: 13px;
        width: auto;
        .header-profile__item:first-child {
          border-radius: 11px 11px 0 0;
        }
      }
      .header-profile__item {
        background-color: white;
        &:hover {
          background-color: #EEE3FD;
        }
        &:first-child {
          margin-bottom: 0.5px;
        }
        &:last-child {
          border-radius: 0 0 11px 11px;
        }
      }
    }
  }
  &-drawer__menu {
    order: -1;
  }
}

.footer {
  background: linear-gradient(92.02deg, #DFB6FF 0%, #58287E 143.72%);
  &-logo {
    width: 163px;
    .q-img__image {
      background-size: contain !important;
    }
  }
  &-navigation {
    a {
      text-decoration: none;
      color: inherit;
      margin-left: 30px;
    }
  }
}

.navigation-drawer, .profile-drawer {
  .q-drawer {
    background-color: #F9F4FD;
    .q-separator {
      margin-top: 40px;
    }
    .q-list--dense > .q-item, .q-item--dense {
      padding: 8px 16px;
    }
    .q-item.q-router-link--active, .q-item--active {
      color: inherit;
    }
  }
}

@media (max-width: 1100px) {
  header {
    .q-toolbar {
      padding: 0 15px !important;
    }
  }
}

@media (max-width: 490px) {
  .footer {
    &-navigation {
      margin-top: 30px;
      flex-direction: column;
      a {
        margin-left: 0;
        margin-bottom: 14px;
      }
    }
  }
}

@media (max-width: 380px) {
  .header, .footer {
    &-logo {
      width: 130px;
    }
  }
}
