.api {
  &-navigation {
    align-self: flex-start;
    margin-right: 20px;
    &__wrapper {
      overflow: hidden;
      &:first-child {
        border-radius: 11px 11px 0 0;
      }
      &:last-child {
        border-radius: 0 0 11px 11px;
      }
    }
    &__section {
      background: #8A7CB1;
      &:hover {
        background: #332852;
      }
      &-subsection {
        &:not(:last-child) {
          border-bottom: 1px solid #EEE3FD;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
        &-item {
          padding: 10px 24px;
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .api {
    &-navigation {
      margin-bottom: 24px;
      width: 100%;
    }
  }
}
