.blog {
  &-headline {
    margin-bottom: 39px;
    &__title {
      font-size: 30px;
    }
  }
  &-content{
    &__column {
      &-search {
        .q-field__control {
          padding-right: 0;
          height: 44px;
          background: inherit;
          box-shadow: none !important;
          border-radius: 11px;
          input {
            font-weight: 600;
            color: rgba(58, 1, 102, 0.49) !important;
          }
          .q-field__label {
            top: 12px;
            color: rgba(58, 1, 102, 0.49);
            font-size: 18px;
            font-weight: 600;
            line-height: 100%;
          }
          .blog-content__column-search-icon {
            padding: 10px 12px;
          }
          .q-field__append {
            height: 100%;
          }
        }
      }
      &-categories {
        &-title {
          margin-bottom: 6px;
        }
      }
    }
  }
  &-pagination {
    margin-bottom: 91px;
    .q-btn--standard {
      background: #EEE3FD !important;
      .q-btn__wrapper {
        &:before {
          box-shadow: none;
        }
      }
    }
    .q-hoverable:hover > .q-focus-helper {
      background: #8A7CB1 !important;
    }
    .row {
      button {
        margin-left: 4px;
      }
    }
    .q-icon {
      color: #53326C;
    }
    .q-btn__content {
      font-size: 18px;
      font-weight: 600;
      color: rgba(58, 1, 102, 0.49);
    }
    .q-btn--rectangle {
      border-radius: 22px;
    }
  }
}
