.payment-return {
  &-content {
    margin-bottom: 28px;
    border-radius: 15px;
    padding: 25px 30px 25px 20px;
    &__section {
      margin-bottom: 45px;
      &-list {
        .q-img {
          &__image {
            background-size: contain !important;
          }
        }
        &-visa, &-mir {
          width: 95px;
        }
        &-mastercard {
          margin: 0 27px;
          width: 48px
        }
      }
    }
  }
}
