.rates {
  &-subscription {
    margin-bottom: 62px;
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      .active-item {
        color: #53326C;
        background-color: #F8F4FD;
      }
      &-item {
        color: white;
        @media (max-width: 450px) {
          font-size: 10px;
          line-height: 13px;
        }
        &:not(:last-child) {
          margin-right: 8px;
        }
        transition: all 0.3s ease;
        &:hover {
          color: #53326C;
          background-color: #F8F4FD;
        }
      }
    }
  }
  &-wrapper {
    overflow: hidden;
    margin-bottom: 189px;
  }
  &-list {
    border-radius: 15px;
    overflow-x: auto;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      height: 0;
    }
    &__item {
      min-width: 290px !important;
      &:first-child {
        .card-rate__headline {
          background-color: #8A7CB1;
        }
      }
      &:nth-child(2) {
        .card-rate__headline {
          background-color: #6C5196;
        }
      }
      &:nth-child(3) {
        .card-rate__headline {
          background-color: #512C7E;
        }
      }
      &:last-child {
        .card-rate__headline {
          background-color: #330264;
        }
      }
    }
  }
  &-slider {
    margin-top: 11px;
    &__point {
      background-color: #EEE3FD;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      &:hover {
        background-color: #8A7CB1;
      }
    }
    .active-point {
      background-color: #8A7CB1;
    }
  }
}
