@import "fonts";
@import "build-in";

body {
  overflow-x: hidden;
}
/* MainLayout */
.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
}

.q-layout {
  background: linear-gradient(117.23deg, #3A0166 -0.6%, #58287E 100%);;
}

.header {
  .q-toolbar {
    padding: 0;
    margin-top: 21px;
  }
  &-logo {
    max-width: 150px;
  }
  &-navigation {
    span {
      margin-left: 30px;
    }
  }
}

.footer {
  background: linear-gradient(92.02deg, #DFB6FF 0%, #58287E 143.72%);
  &-logo {
    max-width: 150px;
  }
  ul {
    list-style-type: none;
    li {
      margin-left: 30px;
    }
  }
}

/* Index page */
.index-page {
  margin-top: 60px;
  &-title__functions {
    margin-bottom: 56px;
  }
  &-title__advantages {
    margin-bottom: 120px;
  }
  section {
    position: relative;
    z-index: 1;
  }
  &-function {
    &:nth-child(2) {
      margin-bottom: 97px;
      .index-page-function__image {
        margin-right: 43px;
        &:before {
          content: '';
          position: absolute;
          top: -40px;
          right: -56px;
          width: 103px;
          height: 103px;
          background: linear-gradient(180deg, #491572 0%, #642893 100%);
          border-radius: 50%;
          transform: rotate(152deg);
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 50px;
          left: -42px;
          width: 66px;
          height: 66px;
          background: linear-gradient(180deg, #491572 0%, #642893 100%);
          border-radius: 50%;
          transform: rotate(152deg);
          z-index: 1;
        }
      }
    }
    &:nth-child(3) {
      margin-bottom: 70px;
      .index-page-function__image {
        margin-left: 80px;
        &:before {
          content: '';
          position: absolute;
          top: -76px;
          left: -80px;
          width: 200px;
          height: 200px;
          background: linear-gradient(180deg, #491572 0%, #642893 100%);
          border-radius: 50%;
          transform: rotate(152deg);
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -75px;
          right: 36px;
          width: 104px;
          height: 104px;
          background: linear-gradient(180deg, #491572 0%, #642893 100%);
          border-radius: 50%;
          transform: rotate(152deg);
          z-index: 1;
        }
      }
    }
    &__ellipse {
      width: 103px;
      height: 103px;
      background: linear-gradient(180deg, #491572 0%, #642893 100%);
      border-radius: 50%;
      transform: rotate(152deg);
    }
    &__image {
      width: 475px;
      height: 340px;
      border-radius: 11px;
      background-color: #FFFFFF;
      box-shadow: 0 0 28px rgba(229, 196, 255, 0.74);
      .img {
        width: 100%;
        height: 100%;
        border-radius: 11px;
        background-color: #FFFFFF;
        box-shadow: 0 0 28px rgba(229, 196, 255, 0.74);
        z-index: 1;
      }
      .q-img {
        object-fit: cover;
      }
    }
    &__column {
      z-index: 1;
    }
  }
  &-advantages {
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 311px));
    column-gap: 92px;
    row-gap: 132px;
    &__item {
      &-number {
        top: -70px;
        left: -30px;
        font-size: 144px;
        line-height: 158px;
        color: rgba(223, 182, 255, 0.39)
      }
      &-description {
        line-height: 22px;
      }
    }
  }
  .background-items {
    &-rectangle {
      width: 297px;
      height: 479px;
      top: -336px;
      right: -226px;
      background: linear-gradient(218.12deg, #4E1B76 53.01%, #692F96 100.03%);
    }
    &-rhombus {
      width: 450px;
      height: 479px;
      top: 520px;
      left: -400px;
      background: linear-gradient(218.12deg, #4E1B76 53.01%, #692F96 100.03%);
      transform: rotate(-129.5deg);
      z-index: 0;
    }
    &-sticks {
      width: 658px;
      height: 737px;
      bottom: -65px;
      right: -300px;
      overflow: hidden;
      z-index: 0;
      &__first {
        width: 33px;
        height: 838px;
        bottom: -200px;
        right: 130px;
        background: linear-gradient(180deg, #3C0C62 0%, #642893 100%);
        border-radius: 500px;
        transform: rotate(-32.5deg);
      }
      &__second {
        width: 75px;
        height: 838px;
        bottom: -135px;
        right: 265px;
        background: linear-gradient(180deg, #3C0C62 0%, #642893 100%);
        border-radius: 500px;
        transform: rotate(-32.5deg);
      }
      &__third {
        width: 52px;
        height: 838px;
        bottom: -470px;
        right: 165px;
        background: linear-gradient(180deg, #3C0C62 0%, #642893 100%);
        border-radius: 500px;
        transform: rotate(-32.5deg);
      }
    }
  }
}
