@import "fonts";

* {
  outline: none;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.border-box {
  border-radius: 11px;
}

.page-headline {
  margin-bottom: 39px;
  font-size: 30px;
}

.letter-spacing__less {
  letter-spacing: -0.01em;
}

.q-dialog__inner > div {
  border-radius: 11px;
  box-shadow: 0 0 15px rgba(138, 124, 177, 0.45);
}

.q-dialog__inner--minimized > div {
  max-width: 450px;
  min-height: auto !important;
}
